{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 500;
    }

    .content-wrapper {
        padding: 0 10px;
        font-size: 14px;
    }

    .page-header {
        border: 0;
        margin: 0 0 20px 0;
        padding: 0;
        position: relative;
        z-index: 1;
        font-size: 30px;
    }

    section[id] {
        padding: 20px 0 0 0;
    }

    #components>h3 {
        font-size: 25px;
        border-bottom: 1px solid #dedede;
        color: #000;
    }

    #components>h4 {
        font-size: 20px;
        color: #000;
    }

    .page-header span {
        z-index: 5;
        display: inline-block;
        background-color: #ecf0f5;
        padding-right: 10px;
    }

    .page-header::before {
        content: " ";
        display: block;
        background: #ccc;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        margin-top: 2px;
        z-index: -1;
    }

    .lead {
        font-size: 16px;
        font-weight: 400;
    }

    .eg {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        background: #d2d6de;
        padding: 5px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom: 1px solid #d2d6dc;
        border-right: 1px solid #d2d6dc;
    }

    .eg+* {
        margin-top: 30px;
    }

    .content {
        padding: 10px 25px;
    }

    .hierarchy {
        background: #333;
        color: #fff;
    }

    .plugins-list li {
        width: 50%;
        float: left;
    }

    pre {
        border: none;
    }

    /* desert scheme ported from vim to google prettify */
    pre.prettyprint {
        display: block;
        background-color: #333;
        max-height: 300px;
        border: none !important;
        margin-bottom: 20px;
    }

    pre .nocode {
        background-color: none;
        color: #000
    }

    pre .str {
        color: #ffa0a0;
    }

    /* string  - pink */
    pre .kwd {
        color: #f0e68c;
        font-weight: bold
    }

    pre .com {
        color: #87ceeb
    }

    /* comment - skyblue */
    pre .typ {
        color: #98fb98
    }

    /* type    - lightgreen */
    pre .lit {
        color: #cd5c5c
    }

    /* literal - darkred */
    pre .pun {
        color: #fff
    }

    /* punctuation */
    pre .pln {
        color: #fff
    }

    /* plaintext */
    pre .tag {
        color: #f0e68c;
        font-weight: bold
    }

    /* html/xml tag    - lightyellow */
    pre .atn {
        color: #bdb76b;
        font-weight: bold
    }

    /* attribute name  - khaki */
    pre .atv {
        color: #ffa0a0
    }

    /* attribute value - pink */
    pre .dec {
        color: #98fb98
    }

    /* decimal         - lightgreen */

    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
        margin-top: 0;
        margin-bottom: 0;
        color: #AEAEAE
    }

    /* IE indents via margin-left */
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L5,
    li.L6,
    li.L7,
    li.L8 {
        list-style-type: none
    }

    /* Alternate shading for lines */
    li.L1,
    li.L3,
    li.L5,
    li.L7,
    li.L9 {}

    @media print {
        pre.prettyprint {
            background-color: none
        }

        pre .str,
        code .str {
            color: #060
        }

        pre .kwd,
        code .kwd {
            color: #006;
            font-weight: bold
        }

        pre .com,
        code .com {
            color: #600;
            font-style: italic
        }

        pre .typ,
        code .typ {
            color: #404;
            font-weight: bold
        }

        pre .lit,
        code .lit {
            color: #044
        }

        pre .pun,
        code .pun {
            color: #440
        }

        pre .pln,
        code .pln {
            color: #000
        }

        pre .tag,
        code .tag {
            color: #006;
            font-weight: bold
        }

        pre .atn,
        code .atn {
            color: #404
        }

        pre .atv,
        code .atv {
            color: #060
        }
    }

    .sidebar {
        margin-top: 0;
        padding-top: 0 !important;
    }

    .box .main-header {
        z-index: 1000;
        position: relative;
    }

    .treeview .nav li a:hover,
    .treeview .nav li a:active {
        background: transparent;
    }
</style>
<script async src="https://docs.opencv.org/master/opencv.js" onload="onOpenCvReady();" crossorigin="anonymous"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            About us
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">About us</li>
        </ol>
    </section>
    <div class="content body">
        <section id='download'>
            <h2 class='page-header'><span></span></h2>
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='box box-primary'>
                        <div class='box-header with-border'>
                            <h3 class='box-title'>Welcome to ID Online</h3>
                            <span class='label label-primary pull-right'><i class='fa fa-html5'></i></span>
                        </div><!-- /.box-header -->
                        <div class='box-body'>
                            <p>At ID Online, our mission is to provide a seamless and secure online identity experience.
                                We understand the importance
                                of a reliable digital identity in today's interconnected world.

                                Founded with the vision of simplifying identification processes, ID Online is committed
                                to offering a user-friendly
                                platform that prioritizes efficiency and security. Our dedicated team works diligently
                                to ensure that ID Online is a
                                trusted space for managing your digital identity.</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class='col-sm-6'>
                    <div class='box box-danger'>
                        <div class='box-header with-border'>
                            <h3 class='box-title'>Why Choose ID Online?</h3>
                            <span class='label label-danger pull-right'><i class='fa fa-database'></i></span>
                        </div><!-- /.box-header -->
                        <div class='box-body'>
                            <p>Streamlined Process: Experience a straightforward and efficient identification process.
                                <br>
                                Security Assurance: Our platform prioritizes the security and privacy of your digital
                                identity. <br>
                                User-Friendly Interface: Navigate through our intuitive interface with ease.
                            </p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class='col-sm-6'>
                    <div class='box box-primary'>
                        <div class='box-header with-border'>
                            <h3 class='box-title'>Our Commitment to Security:</h3>
                            <span class='label label-danger pull-right'><i class='fa fa-database'></i></span>
                        </div><!-- /.box-header -->
                        <div class='box-body'>
                            <p>At ID Online, safeguarding your data is our top priority.
                                We implement advanced security measures to protect your
                                information and ensure a safe online experience.</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </section>
    </div>
</div>
<!-- Add this script in your HTML template -->
{% endblock content %}