{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Apply ID
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Apply ID</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-2">
                <!-- general form elements -->
                <div class="">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div style="text-align: center;" class="form-group">
                                <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                            src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                            </div>
                        </div><!-- /.box-body -->
                    </form>
                </div><!-- /.box -->
            </div>
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="box box-warning">
                    <div class="box-header text-center danger">
                        <h3 style="color: red;" class="box-title text-bold">Step 1 of 4 <br>
                            <span style="color: dodgerblue;">Confirm your personal info</span>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {% for data in messages %}
                        {{data}}
                        {% endfor %}
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="box-body">
                                {{form.user.as_hidden}}
                                {{form.email.as_hidden}}
                                {{form.username.as_hidden}}
                                {{form.phone.as_hidden}}
                                {{form.profile_picture.as_hidden}}
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Middle Name</label>
                                    {{form.sur_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Date of Birth</label>
                                    {{form.date_of_birth}}
                                </div>
                            </div>

                            <div style="text-align: center;" class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}