{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">ID status</h3>
                        <div class="box-tools pull-right">
                            <!-- <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            {% if my_docs and photo_info %}
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Id status</th>
                                        <th>Messange</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                                src="{{my_docs.first.client.profile_picture.url}}" alt=""></td>
                                        {% if my_docs.first.status == 'approved' and photo_info.status == 'approved' %}
                                        <td><span class="label label-success">Ready</span></td>
                                        {% elif my_docs.first.status == 'pending' or photo_info.status == 'pending' %}
                                        <td><span class="label label-warning">Being Processed</span></td>
                                        {% else %}
                                        <td><span class="label label-danger">Not available</span></td>
                                        {% endif %}


                                        {% if my_docs.first.status == 'approved' and photo_info.status == 'approved' %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your documents have been approved and you ID is ready
                                            </div>
                                        </td>
                                        {% elif my_docs.first.status == 'pending' or photo_info.status == 'pending' %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your ID is being Processed once it is ready we will let you know.
                                            </div>
                                        </td>
                                        {% else %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your ID application has been Cancelled, please contact us to request for
                                                re-application
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                            {% if lost_id %}
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Lost Id status</th>
                                        <th>Users Messange</th>
                                        <th>Messange</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                                src="{{my_docs.first.client.profile_picture.url}}" alt=""></td>
                                        {% if lost_id.status == 'approved' %}
                                        <td><span class="label label-success">Ready</span></td>
                                        {% elif lost_id.status == 'pending' %}
                                        <td><span class="label label-warning">Being Processed</span></td>
                                        {% else %}
                                        <td><span class="label label-danger">Lost ID application has been cancelled</span></td>
                                        {% endif %}

                                        <td>{{lost_id.text}}</td>
                                        {% if lost_id.status == 'approved' %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your lost ID application has been approved and you ID is ready
                                            </div>
                                        </td>
                                        {% elif lost_id.status == 'pending' %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your ID is being Processed once it is ready we will let you know.
                                            </div>
                                        </td>
                                        {% else %}
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                Your lost ID application has been Cancelled, please contact us to request for
                                                re-application
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                            <br><br>
                            {% if my_docs.first.status == 'approved' and photo_info.status == 'approved' %}
                            {% if pay_details %}
                            {% if lost_id.status != 'approved' %}
                            <div style="text-align: center;" class="box-footer">
                                <a href="{% url 'lost_id' %}">
                                    <button class="btn btn-primary">
                                        <form action="">Lost ID</form>
                                    </button>
                                </a>
                            </div>
                            {% else %}
                            <div style="text-align: center;" class="box-footer">
                                <a href="{% url 'pay_url' %}">
                                    <button class="btn btn-primary">
                                        <form action="">Download Lost ID</form>
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% else %}
                            <div style="text-align: center;" class="box-footer">
                                <a href="{% url 'pay_url' %}">
                                    <button class="btn btn-primary">
                                        <form action="">Download ID</form>
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% else %}
                            {% endif %}
                            {% else %}
                            <p style="color: red;text-align: center;">Nothing to show</p>
                            {% endif %}
                            {% endif %}
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </section><!-- /.content-wrapper -->
</div>
{% endblock content %}