{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lost ID application
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Lost ID application</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-2">
                <!-- general form elements -->
                <div class="">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div style="text-align: center;" class="form-group">
                                <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                            src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                            </div>
                        </div><!-- /.box-body -->
                    </form>
                </div><!-- /.box -->
            </div>
            {% if lost_id.first == 'pending' or lost_id == 'cancelled' %}
            <div class="box-body d-flex flex-column align-items-center">
                <form class="w-50">
                    <div class="box-body">
                    </div>

                    <div style="text-align: center;" class="box-footer">
                        <p>Your Lost ID applican has been received and is being processed, click <a
                                href="{% url 'id_status' %}">here</a> to view
                            ID status</p>
                        <!-- <button type="submit" class="btn btn-primary">Confirm</button> -->
                    </div>
                </form>
            </div>
            {% elif lost_id.first.status == 'approved' %}
            <div class="box-body d-flex flex-column align-items-center">
                <form class="w-50">
                    <div class="box-body">
                    </div>

                    <div style="text-align: center;" class="box-footer">
                        <p>Your Lost ID applican has been processed and is ready, click <a
                                href="{% url 'id_status' %}">here</a>
                            to download</p>
                        <!-- <button type="submit" class="btn btn-primary">Confirm</button> -->
                    </div>
                </form>
            </div>
            {% else %}
            <div class="col-md-8">
                <!-- general form elements disabled -->
                <div class="box box-primary">
                    <div class="box-header text-center danger">
                        <h3 style="color: red;" class="box-title text-bold">Step 1 of 1</h3><br>
                        <span style="color: dodgerblue;"></span>
                        {% for data in messages %}
                        {{data}}
                        {% endfor %}
                    </div><!-- /.box-header -->

                    <div class="box-body d-flex flex-column align-items-center">
                        <form class="w-50" role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group col-md-12">
                                    <label for="exampleInputPassword1">Apply for</label>
                                    <select name="select" class="form-control">
                                        <option value="">________Select__________</option>
                                        <option value="Lost Id">Lost ID</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="exampleInputPassword1">Lost ID document proove</label>
                                    <input type="file" class="form-control" name="file" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="exampleInputPassword1">Description</label>
                                    <textarea class="form-control" name="text" id="" cols="" rows="5" placeholder="Type here" required></textarea>
                                </div>
                            </div>

                            <div style="text-align: center;" class="box-footer">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}