{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .break-word {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            ID Payment
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">ID Payment</li>
        </ol>
    </section>
    <p style="text-align: center;color: red;">
        Note that this page is a one time view. 
        If you leave this page you will not be able to view it again 
    </p>
    <div style="text-align: center;" class="">
        <button id="downloadButton" class="btn btn-primary w-100">Download ID</button>
    </div>
    <section class="page">
        <span class="content">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <!-- general form elements -->
                            <div class="">
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div style="text-align: center;" class="form-group">
                                            <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                            src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                                        </div>
                                    </div><!-- /.box-body -->
                                </form>
                            </div><!-- /.box -->
                        </div>
                        <div class="col-md-8">
                            <div style="background-image: url('static/flg.png'); background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                                class="box">
                                <div class="row">
                                    <div class="box-header danger">
                                        <div class="col-md-4">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                JAMHURI YA KENYA
                                            </h3>
                                        </div>
                                        <div class="col-md-4">
                                            <h3 style="color: red;text-align: center;" class="box-title text-bold">
                                                <img style="width: 50px; height: 50px;" src="{% static 'rep.png' %}"
                                                    alt="">
                                            </h3>
                                        </div>
                                        <div class="col-md-4">
                                            <h3 style="color: green" class="box-title text-bold">
                                                REPUBLIC OF KENYA
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box-header danger">
                                        <div class="col-md-6">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                <small style="color: green;">SERIAL NUMBER: </small></small><span
                                                    style="color: black;">{{i.serial_number}}</span>
                                            </h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h3 style="color: green" class="box-title text-bold">
                                                <small style="color: green;">ID NUMBER: </small><span
                                                    style="color: black;">{{i.id_number}}</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box-header danger">
                                        <div class="col-md-12">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                <small style="color: green;">FULL NAMES</small><br><span
                                                    style="color: black;text-transform: capitalize;">{{i.client.first_name}}
                                                    {{i.client.sur_name}} {{i.client.last_name}}</span>
                                            </h3>
                                        </div>
                                        <br>
                                        <div class="col-md-4">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                <img style="width: 190px; height: 230px;"
                                                    src="{{i.client.photo.image.url}}" alt="">
                                            </h3>
                                        </div>
                                        <div class="col-md-4">
                                            <h3 style="color: green; height: 70px;" class="box-title text-bold">
                                                <small style="color: green;">
                                                    DATE OF BIRTH <br>
                                                    <span style="color: black;"
                                                        class="text-bold">{{i.client.applyid.date_of_birth}}</span><br>
                                                    SEX <br>
                                                    <span style="color: black;"
                                                        class="text-bold">{{i.client.gender}}</span><br>
                                                    DISTICT OF BIRTH <br>
                                                    <span style="color: black;"
                                                        class="text-bold">{{i.client.locatiodetails.district}}</span><br>
                                                    NEAREST PLACE <br>
                                                    <span style="color: black;"
                                                        class="text-bold">{{i.client.locatiodetails.location}}</span><br>
                                                    DATE OF ISSUE <br>
                                                    <span style="color: black;"
                                                        class="text-bold">{{i.date}}</span><br><br>
                                                    HOLDERS SIGN <br>
                                                    <span style="color: black;"
                                                        class="text-bold"><strike>OKM</strike></span><br>
                                                </small>
                                            </h3>
                                        </div>
                                        <div class="col-md-2">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                <img style="width: 80px; height: 80px;" src="{% static 'gk.png' %}"
                                                    alt="">
                                            </h3>
                                        </div>
                                        <br><br>
                                        <div class="col-md-3">
                                            <h3 style="color: green;" class="box-title text-bold">
                                                <br><br><br><br><br>
                                                <img style="width: 50px; height: 50px;"
                                                    src="{{i.client.photo.image.url}}" alt="">
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-2">
                        <div class="">
                            <form role="form">
                                <div class="box-body">
                                    <div style="text-align: center;" class="form-group">
                                        <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                                src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                                    </div>
                                </div><!-- /.box-body -->
                            </form>
                        </div><!-- /.box -->
                    </div>
                    <div class="col-md-8">
                        <div style="background-image: url('static/flg.png'); background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                            class="box">
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-12">
                                        <h3 style="color: green;" class="box-title text-bold">

                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: green; height: 70px;" class="box-title text-bold">
                                            <small style="color: green;">
                                                DISTRICT <br>
                                                <span style="color: black;"
                                                    class="text-bold">{{i.client.locatiodetails.district}}</span><br>
                                                DIVISION <br>
                                                <span style="color: black;"
                                                    class="text-bold">{{i.client.locatiodetails.division}}</span><br>
                                                LOCATION <br>
                                                <span style="color: black;"
                                                    class="text-bold">{{i.client.locatiodetails.location}}</span><br>
                                                SUB-LOCATION <br>
                                                <span style="color: black;"
                                                    class="text-bold">{{i.client.locatiodetails.sub_location}}</span><br>
                                            </small>
                                        </h3>
                                    </div>
                                    <div style="background-image: url('static/kenya.png'); width: 100px; height: 100px; background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                                        class="col-md-4">
                                        <h3 class="box-title text-bold">
                                            <img style="width: 70px; height: 70px;" src="{{i.client.photo.image.url}}"
                                                alt="">
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-4">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <small style="color: green;">PRINCIPAL REGISTRARS SIGN </small></small><span
                                                style="color: black;"></span>
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: green" class="box-title text-bold">
                                            <small style="color: green;">
                                                <img style="width: 60px; height: 30px;" src="{{i.principal_sign.url}}"
                                                    alt="">
                                            </small><span style="color: black;"></span>
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: green" class="box-title text-bold">
                                            <span style="color: black;">{{i.back_serial}}</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-12">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <span class="">
                                                <p style="text-align: center;">
                                                    {{i.client.first_name}}>{{i.client.sur_name}}>{{i.client.last_name}}>RUWICH28463047260FHJSKVYETOND849FJEIC>>RUWICHBP
                                                </p>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </span>
    </section>
</div>
<script>
    document.getElementById('downloadButton').addEventListener('click', function () {
        var jsPDF = window.jspdf.jsPDF;
        var section = document.querySelector('.page');
        var originalWidth = section.offsetWidth;
        var originalHeight = section.offsetHeight;

        // Set the desired scaling factors for width and height (you can adjust these values)
        var scaleWidth = 1;
        var scaleHeight = 2;

        // Set the new width and height to the section
        section.style.width = originalWidth * scaleWidth + 'px';
        section.style.height = originalHeight * scaleHeight + 'px';

        html2canvas(section, { scale: 2 }).then(function (canvas) {
            var imgData = canvas.toDataURL('image/png');
            var pdf = new jsPDF('p', 'mm', 'a4');
            pdf.addImage(imgData, 'PNG', 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
            pdf.save('downloaded_section.pdf');

            // Restore the original width and height
            section.style.width = originalWidth + 'px';
            section.style.height = originalHeight + 'px';
        });
    });
</script>

{% endblock content %}