{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            ID Payment
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">ID Payment</li>
        </ol>
    </section>

    <span class="content">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <!-- general form elements -->
                        <div class="">
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div style="text-align: center;" class="form-group">
                                        <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                            src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                                    </div>
                                </div><!-- /.box-body -->
                            </form>
                        </div><!-- /.box -->
                    </div>
                    <div class="col-md-8">
                        <div style="background-image: url('static/flg.png'); background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                            class="box">
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-4">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            JAMHURI YA KENYA
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: red;text-align: center;" class="box-title text-bold">
                                            <img style="width: 50px; height: 50px;" src="{% static 'rep.png' %}" alt="">
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: green" class="box-title text-bold">
                                            REPUBLIC OF KENYA
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-6">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <small style="color: green;">SERIAL NUMBER: </small></small><span
                                                style="color: black;">{{}}</span>
                                        </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 style="color: green" class="box-title text-bold">
                                            <small style="color: green;">ID NUMBER: </small><span
                                                style="color: black;">38917851</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box-header danger">
                                    <div class="col-md-12">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <small style="color: green;">FULL NAMES</small><br><span
                                                style="color: black;text-transform: capitalize;">ONESMUS KIMANZI
                                                MUIMI</span>
                                        </h3>
                                    </div>
                                    <br>
                                    <div class="col-md-4">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <img style="width: 190px; height: 230px;" src="{% static 'kim.jpg' %}"
                                                alt="">
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="color: green; height: 70px;" class="box-title text-bold">
                                            <small style="color: green;">
                                                DATE OF BIRTH <br>
                                                <span style="color: black;" class="text-bold">30.04.2001</span><br>
                                                SEX <br>
                                                <span style="color: black;" class="text-bold">MALE</span><br>
                                                DISTICT OF BIRTH <br>
                                                <span style="color: black;" class="text-bold">MUTOMO</span><br>
                                                NEAREST PLACE <br>
                                                <span style="color: black;" class="text-bold">IKANGA TOWN</span><br>
                                                DATE OF ISSUE <br>
                                                <span style="color: black;" class="text-bold">30.01.2020</span><br><br>
                                                HOLDERS SIGN <br>
                                                <span style="color: black;" class="text-bold"><strike>OKM</strike></span><br>
                                            </small>
                                        </h3>
                                    </div>
                                    <div class="col-md-2">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <img style="width: 80px; height: 80px;" src="{% static 'gk.png' %}" alt="">
                                        </h3>
                                    </div>
                                    <br><br>
                                    <div class="col-md-3">
                                        <h3 style="color: green;" class="box-title text-bold">
                                            <br><br><br><br><br>
                                            <img style="width: 50px; height: 50px;" src="{% static 'kim.jpg' %}" alt="">
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-2">
                    <div class="">
                        <form role="form">
                            <div class="box-body">
                                <div style="text-align: center;" class="form-group">
                                    <img style="width: 200px; height: 200px; border-radius: 50%;"
                                                src="dist/img/user2-160x160.jpg" class="user-image" />
                                </div>
                            </div><!-- /.box-body -->
                        </form>
                    </div><!-- /.box -->
                </div>
                <div class="col-md-8">
                    <div style="background-image: url('static/flg.png'); background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                        class="box">
                        <div class="row">
                            <div class="box-header danger">
                                <div class="col-md-12">
                                    <h3 style="color: green;" class="box-title text-bold">

                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 style="color: green; height: 70px;" class="box-title text-bold">
                                        <small style="color: green;">
                                            DISTRICT <br>
                                            <span style="color: black;" class="text-bold">MUTOMO</span><br>
                                            DIVISION <br>
                                            <span style="color: black;" class="text-bold">IKANGA</span><br>
                                            LOCATION <br>
                                            <span style="color: black;" class="text-bold">IKANGA</span><br>
                                            SUB-LOCATION <br>
                                            <span style="color: black;" class="text-bold">ITHUMULA</span><br>
                                        </small>
                                    </h3>
                                </div>
                                <div style="background-image: url('static/kenya.png'); width: 100px; height: 100px; background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);background-blend-mode: lighten;"
                                    class="col-md-4">
                                    <h3 class="box-title text-bold">
                                        <img style="width: 70px; height: 70px;" src="{% static 'rep.png' %}" alt="">
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-header danger">
                                <div class="col-md-4">
                                    <h3 style="color: green;" class="box-title text-bold">
                                        <small style="color: green;">PRINCIPAL REGISTRARS SIGN </small></small><span
                                            style="color: black;"></span>
                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 style="color: green" class="box-title text-bold">
                                        <small style="color: green;">J NEJI JE </small><span
                                            style="color: black;"></span>
                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 style="color: green" class="box-title text-bold">
                                        <span style="color: black;">T0312640500</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="box-header danger">
                                <div class="col-md-12">
                                    <h3 style="color: green;" class="box-title text-bold">
                                        <p>
                                            YUVBHWJKL OEKPJWOACJWOFM OWFJOVPFFC JWLKF OKOPTWHYT<<<<<<<<<<<
                                                DSUHCUEUCHIUHVC123456789 YUVBHWJKL OEKPJWOACJWOFM
                                                OWFJOVPFFCDSUHCUEUCHIUHVC123456789 YUVBHWJKL OEKPJWOACJWOFM OWFJOVPFFC
                                                </p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </span>
</div>
{% endblock content %}