{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            My Documents
            <small>The document you have uploaded will appear here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">My Documents</a></li>
            <!-- <li class="active">Simple</li> -->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        {% if my_docs %}
                        <table class="table table-hover">
                            <tr>
                                <th>User</th>
                                <th>Document</th>
                                <th>Date Uploaded</th>
                                <th>Status</th>
                                <th>Reason</th>
                                <th>Preview</th>
                            </tr>
                            <tr>
                                <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                        src="{{my_docs.first.client.profile_picture.url}}" alt=""></td>
                                <td>Birth certificate</td>
                                <td>{{my_docs.first.date}}</td>
                                {% if my_docs.first.status == 'approved' %}
                                <td><span class="label label-success">Approved</span></td>
                                {% elif my_docs.first.status == 'pending' %}
                                <td><span class="label label-warning">Pending</span></td>
                                {% else %}
                                <td><span class="label label-danger">Cancelled</span></td>
                                {% endif %}
                                <td>{{my_docs.first.reason}}</td>
                                <td><a href="{{my_docs.first.birth_certificate.url}}" download>Preview</a></td>
                            </tr>
                            <tr>
                                <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                        src="{{my_docs.first.client.profile_picture.url}}" alt=""></td>
                                <td>Location document proove</td>
                                <td>{{my_docs.first.date}}</td>
                                {% if my_docs.first.status == 'approved' %}
                                <td><span class="label label-success">Approved</span></td>
                                {% elif my_docs.first.status == 'pending' %}
                                <td><span class="label label-warning">Pending</span></td>
                                {% else %}
                                <td><span class="label label-danger">Cancelled</span></td>
                                {% endif %}
                                <td>{{my_docs.first.reason}}</td>
                                <td><a href="{{my_docs.first.location_doc.url}}" download>Preview</a></td>
                            </tr>
                            <tr>
                                <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                        src="{{my_docs.first.client.profile_picture.url}}" alt=""></td>
                                <td>Parent Identity card</td>
                                <td>{{my_docs.first.date}}</td>
                                {% if my_docs.first.status == 'approved' %}
                                <td><span class="label label-success">Approved</span></td>
                                {% elif my_docs.first.status == 'pending' %}
                                <td><span class="label label-warning">Pending</span></td>
                                {% else %}
                                <td><span class="label label-danger">Cancelled</span></td>
                                {% endif %}
                                <td>{{my_docs.first.reason}}</td>
                                <td><a href="{{my_docs.first.parent_id.url}}" download>Preview</a></td>
                            </tr>
                        </table>
                        {% else %}
                        <p style="text-align: center;color: red;">You havent uploaded any documents yet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        {% if photo_info %}
                        <table class="table table-hover">
                            <tr>
                                <th>User</th>
                                <th>Photo</th>
                                <th>Date Uploaded</th>
                                <th>Status</th>
                                <th>Reason</th>
                                <th>Preview</th>
                            </tr>
                            <tr>
                                <td><img style="width: 30px; height: 30px;border-radius: 50%;"
                                        src="{{photo_info.client.profile_picture.url}}" alt=""></td>
                                <td><img style="width: 30px; height: 30px;" src="{{photo_info.image.url}}" alt="">
                                </td>
                                <td>{{photo_info.date}}</td>
                                {% if photo_info.status == 'approved' %}
                                <td><span class="label label-success">Approved</span></td>
                                {% elif photo_info.status == 'pending' %}
                                <td><span class="label label-warning">Pending</span></td>
                                {% else %}
                                <td><span class="label label-danger">Cancelled</span></td>
                                {% endif %}
                                <td>{{photo_info.reason}}</td>
                                <td><a href="{{photo_info.image.url}}" download>Preview</a></td>
                            </tr>
                        </table>
                        {% else %}
                        <p style="text-align: center;color: red;">You havent uploaded any photo</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- /.content-wrapper -->
{% endblock content %}