{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    /* body {
            display: flex;
            flex-direction: column;
            align-items: center;
        } */

    #video-container {
        position: relative;
    }

    #video {
        width: 300px;
        height: 200px;
    }

    #captureButton {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<script async src="https://docs.opencv.org/master/opencv.js" onload="onOpenCvReady();" crossorigin="anonymous"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Apply ID
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Apply ID</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- general form elements -->
                <div class="">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div style="text-align: center;" class="form-group">
                                <!-- <img style="width: 200px; height: 200px; border-radius: 50%;"
                                            src="dist/img/user2-160x160.jpg" class="user-image" /> -->
                            </div>
                        </div><!-- /.box-body -->
                    </form>
                </div><!-- /.box -->
            </div>
            <div class="col-md-5">
                <!-- general form elements disabled -->
                <div class="box box-primary">
                    <div class="box-header text-center danger">
                        <h3 style="color: red;" class="box-title text-bold">Step 4 of 4 <br>
                            <span style="color: dodgerblue;">Take Photo</span>
                        </h3>
                        {% for data in messages %}
                        {{data}}
                        {% endfor %}
                    </div><!-- /.box-header -->
                    <div class="box-body d-flex flex-column align-items-center">
                        <!-- <form class="w-50"> -->
                        <div class="box-body">
                            <div class="form-group col-md-12">
                                <canvas id="canvas" width="300px" height="200px" style="display: none;"></canvas>
                                <div id="video-container">
                                    <video id="video" width="300px" height="200px" autoplay></video>
                                    <!-- <button id="capture">Capture Photo</button> -->
                                    <button id="captureButton" class="btn btn-primary" style="display: none;">Capture
                                        and Save</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div style="text-align: center;" class="box-footer">
                        <!-- <button id="startCamera" class="btn btn-primary">Start Camera</button> -->
                        <button id="openCameraButton" class="btn btn-primary">Open Camera</button>
                        <span>OR</span>
                        <form action="" method="post" >
                            {% csrf_token %}
                            <div style="text-align: center;">
                                {{form.image}}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<!-- Add this script in your HTML template -->
<script>
    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let openCameraButton = document.getElementById('openCameraButton');
    let captureButton = document.getElementById('captureButton');
    let stream;

    openCameraButton.onclick = function () {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (streamObj) {
                    stream = streamObj;
                    video.srcObject = streamObj;
                    captureButton.style.display = 'block';
                    openCameraButton.style.display = 'none';

                    const context = canvas.getContext('2d');

                    captureButton.onclick = function () {
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);

                        canvas.toBlob(function (blob) {
                            const formData = new FormData();
                            formData.append('image', blob, 'image.jpg');

                            fetch('/save_photo/', {
                                method: 'POST',
                                body: formData,
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}',
                                },
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                })
                                .catch(error => console.error(error));

                            stream.getTracks().forEach(track => track.stop());
                            video.style.display = 'none';
                            canvas.style.display = 'none';
                            openCameraButton.style.display = 'block';
                        }, 'image/jpeg');
                    };
                })
                .catch(function (error) {
                    console.error('Error accessing the camera:', error);
                });
        } else {
            console.error('getUserMedia is not supported in this browser');
        }
    };
</script>
{% endblock content %}