{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update Profile
            <!-- <small>Us</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Update Profile</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div style="text-align: center;" class="form-group">
                                <img style="width: 200px; height: 200px; border-radius: 50%;"
                                    src="{{request.user.client.profile_picture}}" class="user-image" />
                            </div>
                        </div><!-- /.box-body -->
                    </form>
                </div><!-- /.box -->
            </div>
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="box box-warning">
                    <div class="box-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="box-body">
                                {{form.first_name.as_hidden}}
                                {{form.date_of_birth.as_hidden}}
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Sur Name</label>
                                    {{form.sur_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Email</label>
                                    {{form.email}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Username</label>
                                    {{form.username}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Gender</label>
                                    {{form.gender}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Phone Number</label>
                                    {{form.phone}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Profile Picture</label>
                                    {{form.profile_picture}}
                                </div>
                            </div>

                            <div style="text-align: center;" class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}